<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Check System</title>
    <link rel="stylesheet" href="static/StyleSheet1.css">
</head>
<body>
    <header>
        <nav class="guide">
            <a href="{{ url_for('index') }}" class="homelink">
                <h1 id="main-heading">Comprehensive Health Check</h1>
            </a>
            <ul class="ul-guide">
                <li><a href="{{ url_for('trackpage') }}" target="_self" role="link" class="active">Track Progress</a></li>
                <li><a href="{{ url_for('resources') }}" target="_self" role="link" class="">Resources</a></li>
                <li><a href="{{ url_for('index') }}" target="_self" role="link" class="">Health Calculator</a></li>
                <li>
                    <a href="{{ url_for('index') }}" id="SButton">Start Test</a>
                </li>
            </ul>
        </nav>
        <hr />
    </header>

    <main>
        <section>
            <div class="introp1">
                <h2>Welcome to the Health Check System</h2>
                <p>
                    A comprehensive health check calculator is a valuable tool designed to help individuals assess
                    various aspects of their health and well-being. By considering factors such as lifestyle habits,
                    nutrition, and physical activity, this tool provides personalized insights and recommendations
                    to improve overall health. Unlike traditional methods that rely on a single metric, like Body Mass Index (BMI),
                    the comprehensive health check calculator offers a more holistic view, ensuring that users receive
                    a thorough analysis tailored to their unique needs.
                </p>
                <p>
                    Whether you're looking to track fitness progress, manage weight, or optimize your daily habits,
                    this calculator serves as a user-friendly guide for taking proactive steps toward a healthier lifestyle.
                </p>

                <div id="results-container">
                    {% if score is not none %}
                    <h2>Your Current Score: {{ score }}</h2>
                    {% if bmi_result %}
                    <h4>Your BMI: {{ bmi_result }}</h4>
                    <div class="chart-container">
                        <!-- BMI Chart Image -->
                        <img src="{{ url_for('static', filename='images/ColourBMIChart.PNG') }}" alt="BMI Chart" class="bmi-chart">
                        <!-- Marker (X) -->
                        <div id="bmi-marker" class="marker" style="left: {{ x_position }}px;">X</div>
                    </div>
                    {% if bmi_result is not string %}
                    <p>
                        {% if bmi_result < 18.5 %}
                        You are underweight.
                        {% elif bmi_result < 24.9 %}
                        You have a normal weight.
                        {% elif bmi_result < 29.9 %}
                        You are overweight.
                        {% else %}
                        You have obesity.
                        {% endif %}
                    </p>
                    <p class="bmi_dis">
                        The Body Mass Index (BMI) calculation provided by this tool is for informational purposes only and should not be considered a substitute for professional medical advice, diagnosis, or treatment.
                        BMI is a general indicator of body weight relative to height but does not account for factors such as muscle mass, bone density, distribution of fat, or overall health status.
                        For a more comprehensive health assessment, please consult a qualified healthcare professional. Do not make significant lifestyle, dietary, or medical decisions based solely on this BMI result.
                    </p>

                    {% endif %}
                    {% else %}
                    
                      <p>No BMI data available.<p/>
                    
                    {% endif %}
                    {% endif %}
                </div>
                <h2>Flagged Responses</h2>
                <div class="flagged_response">
                    <ul>
                        {% for answer, info in flagged_responses.items() %}
                        <li><strong>{{ answer }}</strong>: {{ info }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        <h2>Compare Results</h2>
        <div class="answerpage">
            {% if not submitted %}
            <form method="POST">
                {% for question in tracking_questions %}
                <p>{{ question.text }}</p>

                {% if question.type == "fitness" %}
                <input type="radio" name="{{ question.id }}" value="100"> 5 hours +
                <input type="radio" name="{{ question.id }}" value="90"> 3 - 5 hours
                <input type="radio" name="{{ question.id }}" value="80"> 2 - 3 hours
                <input type="radio" name="{{ question.id }}" value="70"> 1 - 2 hours
                <input type="radio" name="{{ question.id }}" value="20"> 30 min - 1 hour
                <input type="radio" name="{{ question.id }}" value="-20"> Never

                {% elif question.type == "strength" %}
                <input type="radio" name="{{ question.id }}" value="100"> 5 hours +
                <input type="radio" name="{{ question.id }}" value="90"> 4 - 5 hours
                <input type="radio" name="{{ question.id }}" value="80"> 3 - 4 hours
                <input type="radio" name="{{ question.id }}" value="70"> 2 - 3 hours
                <input type="radio" name="{{ question.id }}" value="60"> 1 - 2 hours
                <input type="radio" name="{{ question.id }}" value="30"> < 1 hour
                <input type="radio" name="{{ question.id }}" value="10"> < 30 min
                <input type="radio" name="{{ question.id }}" value="-10"> Never

                {% elif question.type == "sitting" %}
                <input type="radio" name="{{ question.id }}" value="5"> 7 hours +
                <input type="radio" name="{{ question.id }}" value="50"> 5 - 7 hours
                <input type="radio" name="{{ question.id }}" value="60"> 3 - 5 hours
                <input type="radio" name="{{ question.id }}" value="70"> 1 - 3 hours
                <input type="radio" name="{{ question.id }}" value="80"> < 1 hour
                <input type="radio" name="{{ question.id }}" value="90"> < 30 min
                <input type="radio" name="{{ question.id }}" value="100"> Never

                {% elif question.type == "sleep" %}
                <input type="radio" name="{{ question.id }}" value="100"> 8 - 10 hours
                <input type="radio" name="{{ question.id }}" value="90"> 7 - 8 hours
                <input type="radio" name="{{ question.id }}" value="80"> 6 - 7 hours
                <input type="radio" name="{{ question.id }}" value="50"> 5 - 6 hours
                <input type="radio" name="{{ question.id }}" value="30"> 4 - 5 hours
                <input type="radio" name="{{ question.id }}" value="-10"> < 4 hours

                {% elif question.type == "water" %}
                <input type="radio" name="{{ question.id }}" value="100"> Yes
                <input type="radio" name="{{ question.id }}" value="5"> No

                {% elif question.type == "mental" %}
                <input type="radio" name="{{ question.id }}" value="100"> Never
                <input type="radio" name="{{ question.id }}" value="90"> Infrequently
                <input type="radio" name="{{ question.id }}" value="80"> Sometimes
                <input type="radio" name="{{ question.id }}" value="20"> Frequently
                <input type="radio" name="{{ question.id }}" value="5"> Persistently

                {% elif question.type == "smoke" %}
                <input type="radio" name="{{ question.id }}" value="100"> Never
                <input type="radio" name="{{ question.id }}" value="-10"> 1 - 5 times
                <input type="radio" name="{{ question.id }}" value="-30"> 5 - 10 times
                <input type="radio" name="{{ question.id }}" value="-50"> 10 - 20 times
                <input type="radio" name="{{ question.id }}" value="-100"> 21 +

                {% elif question.type == "alcohol" %}
                <input type="radio" name="{{ question.id }}" value="100"> Never
                <input type="radio" name="{{ question.id }}" value="70"> 1 - 7 units
                <input type="radio" name="{{ question.id }}" value="35"> 8 - 14 units
                <input type="radio" name="{{ question.id }}" value="5"> 15 - 21 units
                <input type="radio" name="{{ question.id }}" value="-35"> 22 - 35 units
                {% endif %}
                {% endfor %}
                <button type="submit">Submit</button>
            </form>
       
            {% else %}
        </div>

        <div id="results-container">
            {% if score is not none %}
            <h2>Your New Score: {{ old_score }}</h2>
            <h3>Additional Responses:</h3>
            <h2>Tracking Flagged Responses</h2>
            <div class="flagged_response">
                <ul>
                    {% for answer, info in tracking_flagged_responses.items() %}
                    <li><strong>{{ answer }}</strong>: {{ info }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="retakeButtonContainer">
                <form action="{{ url_for('trackpage') }}" method="GET">
                    <button type="submit">Retake Assessment</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
        </div>

    </main>

    <footer>
        <p>&copy; 2025 CHC System C</p>
    </footer>

</body>

</html>